<content-header name="Clientes" small="Lista"></content-header>
<div class="box-body">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>RG</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th>Telefone</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="clientCycle in clientCycles">
        <td>{{:: clientCycle.name}}</td>
        <td>{{:: clientCycle.cpf}}</td>
        <td>{{:: clientCycle.rg}}</td>
        <td>{{:: clientCycle.city}}</td>
        <td>{{:: clientCycle.state}}</td>
        <td>{{:: clientCycle.celphone}}</td>
        <td>{{:: clientCycle.status}}</td>
        <td style="width:100px;">
          <button class="btn btn-warning" ng-click="showTabUpdate(clientCycle)"> <i class="fa fa-pencil"></i></button>
          <button class="btn btn-danger" ng-click="showTabDelete(clientCycle)"> <i class="fa fa-trash-o"></i> </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="box-footer clearfix">
   <paginator url="/#!/clientCycles" pages="{{ pages }}"></paginator>
</div>
