<section class="sidebar">
	<!--div class="user-panel" ng-include="'/template/menu/user.html'"></div -->
	<!--div ng-include="'/template/menu/searchForm.html'"></div -->
	<ul class="sidebar-menu">
		<li class="header">NAVEGAÇÃO PRINCIPAL</li>
		<li>
			<a ui-sref="dashboard">
				<i class="fa fa-dashboard"></i> <span>Dashboard</span>
			</a>
		</li>

		<li class="treeview active ">
		   <a href>
		        <i class="fa fa-edit"></i> <span>Cadastros</span>
		        <i class="fa fa-angle-left pull-right"></i>
		  </a>
		  <ul class="treeview-menu">
		    <li>
		      <a ui-sref="carCycle"><i class="fa fa-car"></i> Cadastrar Carros</a>
		    </li>

				<li>
					<a ui-sref="clientCycle"> <i class=" fa fa-user"></i>Cadastro Clientes </a>
				</li>
		  </ul>
		</li>
	</ul>
</section>
