<div role="form">
  <div class="box-body" >
    <!-- NOME-->
    <field id="carCyclePath" label="Nome" model="carCycle.brand" placeholder="Informe o Nome"
    grid ="12 6 4" readonly="tabDelete"></field>
    <!-- MODELO-->
    <field id="carCyclePath" label="Modelo" model="carCycle.model" placeholder="Informe o Modelo"
    grid ="12 6 4" readonly="tabDelete"></field>
    <!--ANO-->
    <field id="carCyclePath" label="Ano" model="carCycle.year" placeholder="Informe o Ano"
    type= "number" grid="12 6 4" reandoly="tabDelete"></field>
    <!--COR-->
    <field id="carCycleType" label="Cor" model="carCycle.color" placeholder="Informe a Cor"
    grid = "12 6 4" reandoly="tabDelete"></field>
    <!--PLACA-->
    <field id="carCyclePath" label="Placa" model="carCycle.board" placeholder="Informe a Placa"
    grid = "12 6 4" reandoly="tabDelete"></field>
    <!--RENAVAN-->
    <field id="carCyclePath" label="Renavan" model="carCycle.renavan" placeholder="Informe o Renavan"
    grid = "12 6 4" reandoly="tabDelete"></field>
    <!--VALOR-->
    <field id="carCyclePath" label="Valor" model="carCycle.value" placeholder="Ïnforme o Valor"
    type="number" grid = "12 6 4" reandoly="tabDelete"></field>
    <!--VALOR DE VENDA-->
    <field id="carCyclePath" label="Valor de Venda" model="carCycle.valuev" placeholder="Informe o Valor de Venda"
    type="number" grid="12 6 4" reandoly="tabDelete"></field>

    <div class="col-xs-12 col-lg-6 col-lg-4">
      <label id="carCycleID">Status</label>
      <select class="form-control" ng-model="carCycle.status">
        <option>DISPONIVEL</option>
        <option>VENDIDO</option>
        <option>OFICINA</option>
      </select>
    </div>

    <hr>
  </div>
  <div class="box-footer">
    <button class="btn btn-primary" ng-click="createCarCycle()"
         ng-if="tabCreate">Incluir</button>
    <button class="btn btn-info" ng-click="updateCarCycle()"
         ng-if="tabUpdate">Alterar</button>
    <button class="btn btn-danger" ng-click="deleteCarCycle()"
         ng-if="tabDelete">Excluir</button>
    <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
  </div>
</div>
