<content-header name="Carros" small="Lista"></content-header>
<div class="box-body">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Modelo</th>
        <th>Ano</th>
        <th>Cor</th>
        <th>Placa</th>
        <th>Renavan</th>
        <th>Valor</th>
        <th>Valor de Venda</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="carCycle in carCycles">
        <td>{{:: carCycle.brand }}</td>
        <td>{{:: carCycle.model }}</td>
        <td>{{:: carCycle.year }}</td>
        <td>{{:: carCycle.color}}</td>
        <td>{{:: carCycle.board}}</td>
        <td>{{:: carCycle.renavan}}</td>
        <td>{{:: carCycle.value}}</td>
        <td>{{:: carCycle.valuev}}</td>
        <td>{{:: carCycle.status}}</td>
        <td style="width:100px;">
          <button class="btn btn-warning" ng-click="showTabUpdate(carCycle)"><i class="fa fa-pencil"></i></button>
          <button class="btn btn-danger" ng-click="showTabDelete(carCycle)"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="box-footer clearfix">
   <paginator url="/#!/carCycles" pages="{{ pages }}"></paginator>
</div>
